 /* Media Queries Used

    337px - 481px

    481px - 768px

    768px - 1024px

    1024px - 1200px */

    @media only screen and (min-width:337px) and (max-width: 481px) 
    {
      body {
        margin: 0;
        padding: 0;
        width: 100%; 
        background-color: darkblue;
        text-align: center;}}

