 /* /* Media Queries Used

    337px - 481px

    481px - 768px

    768px - 1024px

    1024px - 1200px */


    
    /* @media only screen and (min-width:424px)
    {
        .container-fluid {
        margin: 0;
        padding: 0;
        width: 100%; 
        align-items: center;
 
        }
        .row { 
            align-items: center;
       
        }
        body {
        margin: 0;
        padding: 0;
        width: 100%; 
        background-color: darkblue;
        align-items: center;
        } */

        /* @media only screen and (max-width: 1000px) {
            #navigation {
              display: none;
            }
            .icons {
              margin-left: auto;
            }
          }
          
          @media only screen and (max-width: 600px) {
            #headline {
              position: static;
              margin: 20px;
            }
            #heroGrid {
              grid-template-areas:
              "featuredProduct featuredProduct"
              "secondaryProduct CTA";
            }
            #categoryGrid {
              grid-template-rows: 300px 300px 300px 300px 300px;
              grid-template-columns: 1fr;
              grid-template-areas:
                "bookcases"
                "bedroom"
                "patio"
                "couches"
                "desks"
              ;
            }
          }

          @media screen and (max-width: 768px) {
            main,
            nav {
              flex-direction: column;
            }
          }   /* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
          /* @media screen and (min-width: 768px) {
            /*Tablets*/
            /* .card-column {
              flex: 0 0 50%;
              max-width: 50%; */
            /* }
           /* 
            /* select the last child to grow to full width if it has space to grow */
            /* .card-column:last-child {
              flex-grow: 1;
            }
          } */
          
          /*Larger screens */
          /* @media screen and (min-width: 337px) {
            header {
              width: 75%;
            }
          
            .card-column {
              flex: 0 0 33.333%;
              max-width: 33.333%;
            }
          } */  

/* * {box-sizing: border-box;
padding: 0;
margin: 0;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}
ul {
    list-style-type: none;

}

hea

 */
