form {
  background-color: #4654e1;
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

::placeholder {
  color: #fff;
  opacity: 0.7;
}

:root {
  --background-color: #f5f5f5;
  --font--color-body: #333333;
  --header-colour: #343a40;
  --font--text-: #ffffff;
  --btn--main: #ff94c2;
  --btn-hover: #e56e94;
  --font-family: 'Montserrat', sans-serif;
}

body {
  font-family: var(--font-family);
  background: url('../images/backgroundImages.jpg');
  background-size: cover;
  color: var(--font--color-body);
}

h1.h2,
h3,
h4 {
  font-family: var(--font-family);
}

h3,
h4 {
  font-size: 20px;
}

.searchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
}

/*currentweather displayed */

/* title names */

.weatherContainer {
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid #d4d3d3;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.46);
  display: flex;
  justify-content: space-evenly;
}

.weather-data {
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.46);
}

.weather-data {
  transform: scale(1.05);
}

.weather-data:hover,
.cardLayout:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

/* currentweather title */
.currentWeatherToday {
  display: flex;
  margin: 23px;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/* currentWeather data */
.cityName {
  font-weight: bold;
  font-size: 15px;
  margin-top: 2.5rem;
}

.cityTemperature {
  font-size: 15px;
  margin-top: 2.5rem;
}
.cityWindSpeed {
  font-size: 15px;
  margin-top: 2.5rem;
}
.cityHumid {
  font-size: 15px;
  margin-top: 2.5rem;
}

/* historical data section */

.historicalData {
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.46);
  width: 50%;
  justify-content: space-around;
}

.historicalData h4 {
  color: var(--font--color-body);
}

.historicalCards {
  display: none;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid #fff;
  background-color: #fff;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.46); */
}

/* The appended cards */
.historicCard {
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid #fff;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.46);
}

/* five day weather cards  */

.fiveDayContainer {
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  margin: -11px auto;
  justify-content: space-between;
}

.WeatherForecast {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.cardLayout {
  background-color: #fffbfb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.46);
  text-align: center;
  border: 2px solid #d4d3d3;
  border-radius: 10px;
  width: 200px;
}

.card-body {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.46);
}

/* Error message displayed */
.alert-container {
  z-index: 11;
}
