:root {
  --background-color: #0d1b2a;
  --font-family: 'Press Start 2P', sans-serif;
}

h4,
h5 {
  font-size: 10px;
}

a {
  text-decoration: none;
  transition: color 0.1s;
}

body {
  box-sizing: border-box;
  background-color: #0d1b2a;
  color: white;
}

/* Search bar */
form {
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

::placeholder {
  color: #fff;
  opacity: 0.7;
}

.searchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
}

.max-height {
  height: max-content;
}

/* Search bar Ends */

/* movie card */
.movie-data {
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  background-color: #14213d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.46);
}

.cards {
  background-color: #14213d;
  color: white;
}

img {
  width: 100%;
}

.poster {
  font-size: 5px;
  max-width: 15rem;
  min-width: 8rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.current-movie {
  max-width: 30rem;
  padding: 1rem;
  display: flex;
}

/* Movie Trailer */

/* To hide Movie Trailer and only be shown when its searched */
.movie-card {
  display: none;

  max-width: 40rem;
  padding: 1rem;
  min-width: 10rem;
  max-height: 30rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.46);
}

iframe {
  width: 100%;
  height: 405px;
}

.search-section {
  padding: 2rem;
}

.movie-title {
  font-weight: bold;
}

/* WatchList for Searched Movies */

.watch-list {
  position: absolute;
  top: 5px;
  left: 8px;
  transition: background-color 0.3s ease;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  color: #14213d;
  align-items: center;
}

/* 
watchlist button */
#watchlist-link {
  transition: color 0.3s;
  text-decoration: none;
  color: inherit;
}

.watch-list:hover {
  color: white;
}

.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
  background-color: #14213d;
}

.watchlist-container {
  display: flex;
  overflow-x: auto;
  padding: 20px;
  gap: 0px;
}

.card-title {
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
}

.card {
  background-color: #14213d;
  border: none;
  width: 200px;
  border: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 150px;
}

/* buttons for the watchlist */
#clear {
  border: none;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  border-radius: 4px;
  padding: 10px 20px;
}

/* watchlist button  */
.addMovie {
  transition: background-color 0.3s;
}

/* Alert Container  */

.alert-container {
  z-index: 11;
}